<mat-toolbar class="navigator">

    <mat-toolbar-row class="navigator-row">
        <a mat-button [routerLink]="['./video']" routerLinkActive="active" class="navigator-link"><mat-icon class="icon">camera_alt</mat-icon>Eye tracking</a>
    </mat-toolbar-row>

    <mat-toolbar-row class="navigator-row">
        <a mat-button [routerLink]="['./calibration']" routerLinkActive="active" class="navigator-link"><mat-icon class="icon">settings_ethernet</mat-icon>Calibration</a>
    </mat-toolbar-row>

    <mat-toolbar-row class="navigator-row">
        <a mat-button routerLink="./test" routerLinkActive="active" class="navigator-link"><mat-icon class="icon">face</mat-icon>Gaze test</a>
    </mat-toolbar-row>

    <mat-toolbar-row class="navigator-row">
        <a mat-button routerLink="./crossValidation" routerLinkActive="active" class="navigator-link"><mat-icon class="icon">group_work</mat-icon>Cross-validation</a>
    </mat-toolbar-row>
    
    <mat-toolbar-row class="navigator-row">
        <a mat-button routerLink="./configuration" routerLinkActive="active" class="navigator-link"><mat-icon class="icon">settings</mat-icon>Configuration</a>
    </mat-toolbar-row>
    
  </mat-toolbar>