.navigator-link {
    height: 7vh;
    width: 15vw;
    padding-top: 1vh;
    min-width: 230.39px;
    text-align: left;
}

.navigator-row {
    padding: 0;
    height: 7vh;
    min-width: 230.39px;
}

.navigator {
    height: 90vh;
    width: 15vw;
    overflow: hidden;
    min-width: 230.39px;
    background: #edeaea;
}

.icon {
    margin-left: 1.2vw;
    margin-right: 1.5vw;
    color: #673ab7;
}

