.video-test {
    z-index: -1; 
    position: absolute;
    visibility:hidden;
}

.canvas-test {
    z-index: -1; 
    position: absolute;
    transform: rotateY(180deg);
    visibility: hidden;
}

.fps {
    position:absolute; 
    left:50%; 
    top:0; 
    font-size: 32px;
}