<div *ngIf="loading">
    <div class="overlay">
        <div class="loader centered"></div>
    </div>
</div>
<video id="video" width="320" height="240" autoplay muted class="video-test"></video>
<canvas id="canvas" width="320" height="240" class="canvas-test"></canvas>
<span class="fps">FPS: {{fps}}</span>
<canvas #rectanglesCanvas></canvas>