.video-video {
    position:absolute;
    z-index:-1; 
    left: calc(50% - 160px);
    top: calc(50% - 120px);
    transform: rotateY(180deg);
}

.canvas-video {
    position:absolute; 
    z-index: 1;
    left: calc(50% - 160px);
    top: calc(50% - 120px);
    transform: rotateY(180deg);
}