<app-top-content></app-top-content>

<mat-drawer-container class="container">
    <mat-drawer #matDrawer mode="side" opened><app-left-content></app-left-content></mat-drawer>
    <app-middle-content></app-middle-content>  
</mat-drawer-container>
