.video-calibration {
    position:absolute;
    z-index:-1; 
    left: 55%;
    top: calc(50% - 120px);
    transform: rotateY(180deg);
}

.canvas-calibration {
    position:absolute; 
    left: 55%;
    top: calc(50% - 120px);
    transform: rotateY(180deg);
}

