<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-row">

            <div class="toolbar-left-content">
                <a mat-button (click)="onGoHomeButtonClick()" [routerLink]="['./video']" routerLinkActive="active" class="toolbar-button-element">
                    <mat-icon class="icon">blur_on</mat-icon>
                    <span class="toolbar-span-text">Eyes gaze tracking</span>
                </a>
            </div>

            <div class="toolbar-right-content">
                <a mat-button (click)="onChangeLeftContentButtonClick()" class="toolbar-button-element">
                    <mat-icon class="icon">{{closeLeftContentIcon}}</mat-icon>
                </a>              
            </div>  

    </mat-toolbar-row>   
</mat-toolbar>