.toolbar {
    background: linear-gradient(to right, #673ab7 , #451794);
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 10vh;
}

.toolbar-row {
    margin: auto;
}

.toolbar-button-element {
    font-size: 20px;
}

.toolbar-span-text {
    color: white;
}

.icon {
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.toolbar-left-content {
    left: 0;
    position: absolute;
    margin-left: 1%;
}

.toolbar-right-content {
    right: 0; 
    position: absolute; 
    margin-right: 1%;
    display: inline-block;
}