/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
}

.centered {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 130px);
}

.loader {
    border: 15px solid #0b0ae9;
    border-radius: 50%;
    border-top: 15px solid #673ab7;
    width: 150px;
    height: 150px;
    animation: spin 0.9s linear infinite;
}

.overlay {
    background: grey; 
    z-index: 100;    
    position: fixed;  
    width:100%;
    height:100%;
    top: 0;               
    right: 0;            
    bottom: 0;
    left: 0;
    opacity: 0.1;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}