<div *ngIf="loading">
    <div class="overlay">
        <div class="loader centered"></div>
    </div>
</div>

<ng-container *ngIf="crossValidationResults.length == 0; then beforeCrossValidation; else afterCrossValidation"></ng-container>

<ng-template #beforeCrossValidation>
    <div class="detected-folder-label">Detected folders:</div>
    <mat-card class="folders-card folder-container">
        <mat-grid-list cols="9" rowHeight="2:1" class="folder-container">
            <mat-grid-tile *ngFor="let folderName of foldersNames">
                    <mat-icon class="folder-icon">folder</mat-icon>{{folderName}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    
    <div class="cross-validation-begin-centered">
        <div class="cross-validation-label">Begin cross validation</div>
        <button mat-fab class="begin-cross-validation-button" (click)="onBeginCrossValidationClick()">
            <mat-icon aria-label="Example icon-button with a heart icon">done_outline</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #afterCrossValidation>
        <div class="cross-validation-result-label">Cross-validation result:</div>
        <mat-table [dataSource]="crossValidationResults" class="cross-validation-table mat-elevation-z8">
            <ng-container matColumnDef="folderId">
                <mat-header-cell *matHeaderCellDef> Folder name </mat-header-cell>
                <mat-cell *matCellDef="let crossValidationResult"> {{crossValidationResult.folderId}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="folderQuantity">
                <mat-header-cell *matHeaderCellDef> Images quantity in folder </mat-header-cell>
                <mat-cell *matCellDef="let crossValidationResult"> {{crossValidationResult.folderQuantity}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="positiveEvaluation">
                <mat-header-cell *matHeaderCellDef> Positive evaluation </mat-header-cell>
                <mat-cell *matCellDef="let crossValidationResult"> {{crossValidationResult.positiveEvaluation}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="negativeEvaluation">
                <mat-header-cell *matHeaderCellDef> Negative evaluation </mat-header-cell>
                <mat-cell *matCellDef="let crossValidationResult"> {{crossValidationResult.negativeEvaluation}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="headerLabels"></mat-header-row>
            <mat-row *matRowDef="let row; columns: headerLabels;"></mat-row>
        </mat-table>

        <mat-paginator class="cross-validation-pagination" [length]="crossValidationResults.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
</ng-template>


