.folders-card {
    margin-left: 30px;
    margin-right: 30px;
}

.folder-container {
    max-height: 100px;
}

.detected-folder-label {
    margin: 30px;
    font-size: 20px;
}

.cross-validation-result-label {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.begin-cross-validation-button {
    width: 100px;
    height: 100px;
    color: white;
    background: linear-gradient(to right, #673ab7 , #451794);
}

.cross-validation-label {
    margin-left: -18px;
}

.folder-icon {
    color: #673ab7;
}

.cross-validation-begin-centered {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px + 105px);
}

.cross-validation-table {
    margin: 30px;
}

.cross-validation-pagination {
    margin: 30px;
}
