<mat-card class="tabs-panel">
    <mat-tab-group>

            <mat-tab label="Application">
                <div class="form-container-column">
                    <div class="form-container-row">
                        <mat-form-field class="form-field-row">
                            <mat-select class="form-select" placeholder="Method of eye data collecting:" [ngModel]="applicationConfiguration?._collectingEyeDataMethod" (ngModelChange)="applicationConfiguration._collectingEyeDataMethod=$event;">
                                <mat-option *ngFor="let collectingEyeDataMethod of collectingEyeDataMethods | enumToStringPipe" [value]="collectingEyeDataMethod.key">{{collectingEyeDataMethod.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="applicationConfiguration._collectingEyeDataMethod == 'MERGED'" class="form-container-row">
                        <mat-form-field class="form-field-row">
                            <mat-select class="form-select" placeholder="Eye image merge direction:" [ngModel]="applicationConfiguration?._mergeDirection" (ngModelChange)="applicationConfiguration._mergeDirection=$event">
                                <mat-option *ngFor="let mergeDirection of mergeDirections | enumToStringPipe" [value]="mergeDirection.key">{{mergeDirection.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-container-row">    
                        <section class="example-section">
                            <mat-slide-toggle [ngModel]="applicationConfiguration?._useMedianFilter" (ngModelChange)="applicationConfiguration._useMedianFilter=$event" [color]="color">
                                Use median filter
                            </mat-slide-toggle>
                        </section>
                    </div>
                </div>
                
                <mat-card class="button-panel">
                    <div class="button-panel-container">
                        <button mat-button class="purple-button" (click)="onSaveApplicationConfigurationButtonClick()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Neural network">
                <div class="form-container-row">
                    <div class="form-container-column">
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <mat-select class="form-select" placeholder="Image color channels:" [ngModel]="neuralNetworkConfiguration?._channel" (ngModelChange)="neuralNetworkConfiguration._channel=$event">
                                    <mat-option *ngFor="let channel of channels" [value]="channel">{{channel}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <input class="form-input-field" type="number" matInput placeholder="Seed" [ngModel]="neuralNetworkConfiguration?._rngseed" (ngModelChange)="neuralNetworkConfiguration._rngseed=$event">
                            </mat-form-field>
                        </div> 
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <input class="form-input-field" type="number" matInput placeholder="Batch size" [ngModel]="neuralNetworkConfiguration?._batchSize" (ngModelChange)="neuralNetworkConfiguration._batchSize=$event">
                            </mat-form-field>
                        </div>   
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <input class="form-input-field" type="number" matInput placeholder="Output number" [ngModel]="neuralNetworkConfiguration?._outputNumber" (ngModelChange)="neuralNetworkConfiguration._outputNumber=$event">
                            </mat-form-field>
                        </div>                    
                    </div>
                    <div class="form-container-column">  
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <input class="form-input-field" type="number" matInput placeholder="Number epochs" [ngModel]="neuralNetworkConfiguration?._numberEpochs" (ngModelChange)="neuralNetworkConfiguration._numberEpochs=$event">
                            </mat-form-field>
                        </div> 
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <input class="form-input-field" type="number" matInput placeholder="Learning rate" [ngModel]="neuralNetworkConfiguration?._learningRate" (ngModelChange)="neuralNetworkConfiguration._learningRate=$event">
                            </mat-form-field>
                        </div>  
                        <div class="form-container-row">
                            <mat-form-field class="form-field-row">
                                <input class="form-input-field" type="number" matInput placeholder="Momentum" [ngModel]="neuralNetworkConfiguration?._momentum" (ngModelChange)="neuralNetworkConfiguration._momentum=$event">
                            </mat-form-field>
                        </div>                
                    </div>
                </div>
    
                <mat-card class="button-panel">
                    <div class="button-panel-container">
                        <button mat-button class="purple-button" (click)="onStartLearningButtonClick()">Start learning</button>
                        <button mat-button class="purple-button" (click)="onLoadNeuralNetworkButtonClick()">Load neural network</button>
                        <button mat-button class="purple-button" (click)="onSaveNeuralNetworkConfigurationButtonClick()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>


    </mat-tab-group>
</mat-card>

