mat-card {
    background: #f4f4f4;
}

.mat-tab-body-content{
    height: 72vh !important;
}

.tabs-panel {
    height: 77vh;
    margin: 30px;
}

.button-panel {
    width: 96%;
    height: 4vh;
    position: absolute !important;
    bottom: 0px; 
}

.button-panel-container { 
    display: flex;
    flex-direction: row-reverse; 
}

.purple-button {
    background: linear-gradient(to right, #673ab7 , #451794);
    border-radius: 8px;
    margin: 5px;
    color: white;
}

.form-container-column {
    margin: 10px;  
}

.form-container-row {
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: center;
}

.form-field-row {
    width: 25vw;
}

.form-input-field {
    color:black;
}

.form-select {
    color:black;
}